[Desktop Entry]\nName=Dice Roller\nComment=Roll polyhedral dice for tabletop gaming with 3D support\n\nType=Service\nX-KDE-ServiceTypes=Plasma/Applet\nX-KDE-PluginInfo-Name=org.kde.plasma.diceroller\nX-KDE-PluginInfo-Version=1.1.0\nX-KDE-PluginInfo-Category=Utilities\nX-KDE-PluginInfo-License=MIT\nX-KDE-PluginInfo-Author=Craig McGrain\nX-KDE-PluginInfo-Website=https://github.com/craigmcgrain-spec/Dice-Roller\nX-KDE-PluginInfo-Email=craigmcgrain@gmail.com\nX-KDE-PluginInfo-EnabledByDefault=true\n\nX-Plasma-API=declarativeappletscript\nX-Plasma-MainScript=ui/main.qml\nX-Plasma-RemoteLocation=\nX-Plasma-DBusActivationName=\n\nIcon=go-up\n